ion-header {
  background: #5b2eb6;
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    padding-left: 2.5%;
    padding-top: 2%;
    ion-label {
      color: #fff;
    }
  }
}

ion-content {
  .content {
    &_header {
      margin-top: -5%;
      background: #5b2eb6;
      h6 {
        padding-top: 5%;
        color: #fff;
        margin-bottom: 0%;
      }
      h1 {
        color: #fff;
        padding-bottom: 5%;
        margin-bottom: 0;
      }
    }
    &_img {
      ion-img {
        width: 110%;
        margin-left: -5%;
        margin-top: -0.1%;
      }
    }
    &_body {
      margin-top: -25%;
      h3 {
        color: #707070;
      }
    }
  }
}
