<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-img src='assets/WhiteLogo.svg'></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="content_header ion-text-center">
      <h6>Balance Disponible</h6>
      <h1>$ 120.456,23</h1>
    </div>
    <div class="content_img">
      <ion-img src="../../../../assets/Background Down.svg" alt="" srcset=""></ion-img>
    </div>
    <div class="content_body ion-text-center">
      <h3>Ultimos Movimietos</h3>
    </div>
  </div>
</ion-content>